<html>
<body>
<p>asdfsdfsdf</p>
<script>

    var exampleSocket = new WebSocket("ws://localhost:9000");

    exampleSocket.onmessage = function (event) {
        console.log("DUPA", event);
        alert(event.data);
    }

</script>
</body>
</html>